{% extends "base.html" %}

{% block content %}


<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, monospace;
}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  color: white;
  font-family: monospace;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

/*.column {*/
    /*float: left;*/
    /*width: 100%;*/
    /*padding: 50px;*/
    /*text-align: center;*/
    /*font-size: 40px;*/
    /*cursor: pointer;*/
    /*color: white;*/
    /*font-family: monospace;*/
/*}*/

/*.containerTab {*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

.containerTab {
  padding: 20px;
  color: white;
  /*width: 101.5%;*/
}

@media only screen and (max-device-width: 600px) {
  .containerTab {
  padding: 20px;
  color: white;
  width: 101.5%;
}
}

@media only screen and (max-device-width: 1024px) {
  .containerTab {
  padding: 20px;
  color: white;
  width: 101.5%;
}
}

/*CHANGE THE TAB WIDTH TO width: 101.5%;*/

.row{
     margin-top: 45px;
    font-family: monospace;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* Float four columns side by side */
.card_column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
  margin-bottom: 30px;
}

/* Remove extra left and right margins, due to padding */
.card_row {margin: 0 -5px;}

/* Clear floats after the columns */
.card_row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-device-width: 500px) {
  .card_column {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
}

/*.card_column {*/
    /*float: left;*/
    /*width: 25%;*/
    /*padding: 0 10px;*/
    /*margin-bottom: 30px;*/
/*}*/
/*# add margin bottom pixels to be 30 for card column for mobiles */
/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #24495d;
    margin-top: 20px;
}

.card-elm-washer1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #24495d;
    margin-top: 20px;
}

.card-elm-washer2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #24495d;
    margin-top: 20px;
}

.card-elm-washer3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #24495d;
    margin-top: 20px;
}

.card-elm-washer4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #24495d;
    margin-top: 20px;
}

.card-elm-washer5{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #24495d;
    margin-top: 20px;
}

.card-elm-washer6{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #24495d;
    margin-top: 20px;
}

.bg-primary {
    color: #fff;
    background-color: #044882;
}

/*Add about 102% width for anything that is below certain width */
.navbar {
    position: relative;
    min-height: 65px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    width: 102%;
}

.navbar-brand {
    float: left;
    height: 50px;
    /*padding: 20px 15px;*/
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 20px;
}


.bottom_navbar {
  overflow: hidden;
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
}

.bottom_navbar a {
  /*float: centre;*/
  display: block;
  color: #f2f2f2;
  text-align: right;
  margin-right: 15px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  border-bottom: 3px solid transparent;
}

.bottom_navbar a:hover {
  border-bottom: 3px solid white;
}



 /**/
  /*Change mobile width to 800px*/
  /*<span class="navbar-brand font-weight-normal welcome-msg mx-auto" style="font-family:monospace;font-size: 45px;width: 652px;">*/
       /*Yale-NUS Laundry Viewer*/
   /*</span>*/

</style>
        <!--<h1>Hey there, </h1>-->
        <!--<br>-->
        <!--<h2>Cendana College Laundry Machine:</h2>-->
        <!--<p>Washer 1. Status: {{ content }} </p>-->

<!--The content below is only a placeholder and can be replaced.-->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

<nav class="navbar navbar-expand navbar-dark bg-primary">
  <!--Yale-NUS Laundry Viewer-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
   <span class="navbar-brand font-weight-normal welcome-msg mx-auto" style="font-family:monospace;font-size: 22px;width: 334px;">
       Yale-NUS Laundry Viewer
   </span>
</nav>
<!-- <div class="vertical-center"> -->
<div class="container font-weight-normal my-3 custom-font" style="text-align: center;">
		<router-outlet></router-outlet>
</div>
<!-- </div> -->
<!--<ng-template #loading><div style="text-align: center; margin-top: 100px; padding: 10px;" class="container">Loading Data...</div></ng-template>-->
<div style="text-align:center">
  <h2 style="font-family: monospace;">Click to check the status of laundry machines</h2>
  <p>  </p>
</div>

<!-- Three columns -->

<div class="row">
  <div id='rcn' class="column" onclick="openTab('b1');" style="background:#3286af;">
    Saga
  </div>
  <div id='rcn1' class="column" onclick="openTab('b2');" style="background:#2c617b;">
    Elm
  </div>
  <div id='rcn2' class="column" onclick="openTab('b3');" style="background:#244759;">
    Cendana
  </div>
</div>

<!-- Full-width columns: (hidden by default) -->
<div id="b1" class="containerTab" style="display:none;background:#3286af">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <h2>Saga</h2>
  <p>Coming soon....</p>
</div>

<div id="b2" class="containerTab" style="display:none;background:#2e617c"> <!--//2c617b-->
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <h2>Elm</h2>
<div class="card_row">
  <div class="card_column">
    <div class="card-elm-washer1">
      <h3>Washer 1</h3>
      <p style="margin: 0 0 10px;
    margin-top: 20px;
    font-family: monospace;
    color: #a7a78d;
    font-size: larger;"><span id="elm_washer1">{{elm_washer1}}</span></p>
    </div>
  </div>

  <div class="card_column">
    <div class="card-elm-washer2">
      <h3>Washer 2</h3>
      <p style="margin: 0 0 10px;
    margin-top: 20px;
    font-family: monospace;
    color: #a7a78d;
    font-size: larger;"><span id="elm_washer2">{{elm_washer2}}</span></p>
    </div>
  </div>

  <div class="card_column">
    <div class="card-elm-washer3">
      <h3>Washer 3</h3>
      <p style="margin: 0 0 10px;
    margin-top: 20px;
    font-family: monospace;
    color: #a7a78d;
    font-size: larger;"><span id="elm_washer3">{{elm_washer3}}</span></p>
    </div>
  </div>

     <div class="card_column">
    <div class="card-elm-washer4">
      <h3>Washer 4</h3>
      <p style="margin: 0 0 10px;
    margin-top: 20px;
    font-family: monospace;
    color: #a7a78d;
    font-size: larger;"><span id="elm_washer4">{{elm_washer4}}</span></p>
    </div>
  </div>

  <div class="card_column">
    <div class="card-elm-washer5">
      <h3>Washer 5</h3>
      <p style="margin: 0 0 10px;
    margin-top: 20px;
    font-family: monospace;
    color: #a7a78d;
    font-size: larger;"><span id="elm_washer5">{{elm_washer5}}</span></p>
    </div>
  </div>

   <div class="card_column">
    <div class="card-elm-washer6">
      <h3>Washer 6</h3>
      <p style="margin: 0 0 10px;
    margin-top: 20px;
    font-family: monospace;
    color: #a7a78d;
    font-size: larger;"><span id="elm_washer6">{{elm_washer6}}</span></p>
    </div>  </div>

</div>

</div>

<div id="b3" class="containerTab" style="display:none;background:#224758">
  <!--#376880-->
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <h2>Cendana</h2>
  <p>Coming soon....</p>
</div>

<script>
function openTab(tabName) {
  var i, x;
  x = document.getElementsByClassName("containerTab");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(tabName).style.display = "block";
}
</script>

<script type="text/javascript">
   window.setInterval(function(){
      $("#elm_washer1").load("/elm_washer1_status");
   }, 60 * 1000) // make requests every minute
   window.setInterval(function(){
      $("#elm_washer2").load("/elm_washer2_status");
   }, 60 * 1000) // make requests every minute
   window.setInterval(function(){
      $("#elm_washer3").load("/elm_washer3_status");
   }, 60 * 1000) // make requests every minute
   window.setInterval(function(){
      $("#elm_washer4").load("/elm_washer4_status");
   }, 60 * 1000) // make requests every minute
   window.setInterval(function(){
      $("#elm_washer5").load("/elm_washer5_status");
   }, 60 * 1000) // make requests every minute
   window.setInterval(function(){
      $("#elm_washer6").load("/elm_washer6_status");
   }, 60 * 1000) // make requests every minute
</script>

<script>
if (document.getElementById("elm_washer1").textContent == "UNAVAILABLE") {
    document.getElementsByClassName("card-elm-washer1")[0].style.backgroundColor = "#8c1421";
} else {
    document.getElementsByClassName("card-elm-washer1")[0].style.backgroundColor = "#098009";
}
if (document.getElementById("elm_washer2").textContent == "UNAVAILABLE") {
    document.getElementsByClassName("card-elm-washer2")[0].style.backgroundColor = "#8c1421";
} else {
    document.getElementsByClassName("card-elm-washer2")[0].style.backgroundColor = "#098009";
}
if (document.getElementById("elm_washer3").textContent == "UNAVAILABLE") {
    document.getElementsByClassName("card-elm-washer3")[0].style.backgroundColor = "#8c1421";
} else {
    document.getElementsByClassName("card-elm-washer3")[0].style.backgroundColor = "#098009";
}
if (document.getElementById("elm_washer4").textContent == "UNAVAILABLE") {
    document.getElementsByClassName("card-elm-washer4")[0].style.backgroundColor = "#8c1421";
} else {
    document.getElementsByClassName("card-elm-washer4")[0].style.backgroundColor = "#098009";
}
if (document.getElementById("elm_washer5").textContent == "UNAVAILABLE") {
    document.getElementsByClassName("card-elm-washer5")[0].style.backgroundColor = "#8c1421";
} else {
    document.getElementsByClassName("card-elm-washer5")[0].style.backgroundColor = "#098009";
}
if (document.getElementById("elm_washer6").textContent == "UNAVAILABLE") {
    document.getElementsByClassName("card-elm-washer6")[0].style.backgroundColor = "#8c1421";
} else {
    document.getElementsByClassName("card-elm-washer6")[0].style.backgroundColor = "#098009";
}
</script>


<!--<nav class="navbar navbar-expand fixed-bottom navbar-dark bg-dark">-->
	<!--<div class="mx-auto">-->
		     <!--<app-login></app-login>-->
	<!--</div>-->
<!--</nav>-->
<div class="bottom_navbar">

 <a target="_blank" rel="noopener noreferrer" href="https://goo.gl/forms/6bKjSPHquMfg7kvB2" style="font-family: monospace">Any Feedback?</a>

</div>


{% endblock %}
